*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
header{
    width: 100vw;
    background: rgb(18, 86, 196);
}

header nav{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 2rem;
     height: 64px;
     margin: 0 auto;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(214, 214, 214);
}

main{
    background-color: rgb(238, 242, 245);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.container{
   
    min-height: 91vh;
    width: 100vw;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .pass{
    display: inline-block;
    background-color: rgb(9, 83, 153);
    padding: 1rem 4rem;
    text-align: center;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    font-size: 20px;
}

.wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: green;
    gap: 1rem;
}

.myblock{
    width: 240px;
    background-color: white;
}
.myblock2{
    width: 100%;
    background-color: white;
    min-height: 120px;
    font-size: 32px;
    font-weight: bolder;
    display:flex;
    justify-content: center;
    align-items: center;
}

.input{
    width: min(300px,100%);
    margin-bottom: 30px;
    display: none;
}

.input .javascriptCode{
    width:100%;
    padding: 0.5rem;
    border: 1px solid rgb(167, 196, 223);
}

.event{
    background-color: rgb(9, 83, 153);
    text-align: center;
    padding: 0.5 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media (min-width:320px) and (max-width: 400px){
    .container{
        min-height: 76vh;
       display: block;
       text-align: center;
    }
    .container .pass{
       display: none;
       max-width: 300px;
        padding: 0.5rem 2rem;
        color: white;
        border-radius: 50px;
        border: 1px solid white;
        font-size: 14px;
        text-align: center;
    }

    .input{
        display: block;
        margin: 0 auto;
    }

    .input p{
        margin: 24px auto;
        padding: 1rem;
        background-color: rgb(9, 83, 153);
        color: white;
        width: 100%;
    }
}